# Python dependencies
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Temporary files
/tmp/
logs/
*.log

# Docker
.dockerignore
